[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/basicConcepts
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/basicConcepts/djangoMLDeployment/djangoMLDeployment.sock djangoMLDeployment.wsgi:application

       
[Install]
WantedBy=multi-user.target